html, body {
	height: 100%;
	padding-top: 25px;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 16px;
}
.navbar-default {
	background-color: #1d4076;
	border: #1d4076 1px solid;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #3c7bc8;
}
.navbar-default .navbar-brand {
	color: #EEEEEE;
}
.navbar-default .navbar-brand:hover {
	color: #EEEEEE;
}
.nav.navbar-nav > li > a {
	color: #EEEEEE;
}
.nav.navbar-nav > li > a:hover {
	color: #EEEEEE;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: #2f61a6;
	color: #EEEEEE;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #EEEEEE;
	background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	background-color: #1d4076;
	font-size: 16px;
}
.dropdown-menu>li>a {
	display: block;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #EEEEEE;
	background-color: #1d4076;
	overflow: hidden;
	white-space: nowrap;
}
.navbar-default .navbar-toggle {
	border-color: #EEEEEE;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #EEEEEE;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #3c7bc8;
}
.navbar-nav .dropdown-menu .divider {
	display: none;
}
.content {
	border-left: #606060 15px solid;
	border-right: #606060 15px solid;
	border-bottom: #606060 15px solid;
}

.btn-default {
	background: #6f6f6f;
	border: #6f6f6f 1px solid;
	color: #EEEEEE;
}

@media (max-width: 767px) {
	body {
		font-size: 22px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #EEEEEE;
		font-size: 22px;
		margin-top: -3px;
		margin-left: -5px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #EEEEEE;
		background-color: transparent;
	}
	.navbar-nav .dropdown-menu {
		display: block;
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		margin-left: 5px;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.navbar-nav .dropdown-menu > li > a {
		margin-top: -10px;
		font-size: 22px;
	}
	.navbar-nav .dropdown-menu > li > a:hover {
		background-color: #1d4076;
		color: #EEEEEE;
	}
	.navbar-nav .dropdown-menu .divider {
		display: block;
		background-color: #416192;
		height: 1px;
	}
}