#top-pane {
	display: block;
	width: 100%;
	height: 100%;
}

#bottom-pane {
	display: none;
	width: 100%;
	height: 50%;
}

#filecontent {
	display: none;
	width: 100%;
	height: 100%;
}

#folder-block {
	width: 100%;
}

.folder 
{
	height: 24px;
	width: 24px;
}

.file
{
    height: 24px;
    width: 24px;
}
